<article class="todo">
  <div class="todo__header">
    <h4 class="todo__date">{{ todo.date | date }}</h4>
    <h3 class="todo__title">{{ todo.title }}</h3>
  </div>
  <h4 class="todo__desc">{{ todo.desc }}</h4>
  <div class="todo__control">
    <button type="button" class="todo__edit" (click)="openPopup()">Edit</button>
    <input class="todo__is-completed" type="checkbox" [checked]="todo.isCompleted" />
  </div>
</article>

@if (showPopup) {
  <app-popup
    [todo]="todo"
    [action]="'edit'"
    (closePopup)="closePopup()"
    (saveTodo)="saveTodo($event)"
  />
}
